{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Inicio | Relogería</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href={% static 'css/estilos.css' %}>
</head>

<body>
	<header>
		<div class="container">
			<h1>:: Relojería ::</h1>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-12 main">
				<h3>Articulos:</h3>
					<ul class="sinpuntos">
					{% for a in articulos %}
					<li>{{a.id}}</li>
					<li>{{a.nombre}}</li>
					<li>{{a.descripcion}}</li>
					<li>${{a.precio}}</li>
					<li>{{a.proveedor}}</li>
					<li>----------------------------</li>
					{% endfor %}
					</ul>
			</div>

			<div class="col-md-12 main">
				<h3>Informe de Ventas por Articulos:</h3><br>
					
					{% for a in articulos %}
					<h4>Articulo: {{a.nombre}} - {{a.proveedor}}</h4>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr class="danger">
								<th># Nro. Venta</th>
								<th>Fecha</th>
								<th>Cantidad</th>
								<th>Precio Unidad</th>
								<th>Total</th>
							</tr>
							{% for lista in ventas %}
							{% for l in lista %}
								{% if l.articulo == a %}
								<tr>
									<td>{{l.venta.id}}</td>
									<td>{{l.venta.creado}}</td>
									<td>{{l.cantidad}}</td>
									<td>${{l.articulo.precio}}</td>
									<td></td>
								</tr>
								{% endif %}
							{% endfor %}
							{% endfor %}


							{% for key,val in total.items %}
							
								{% if key == a.nombre %}
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td class="success">${{val}}</td>
									</tr>
								{% endif %}
							
							{% endfor %}




						</table>
					</div>
					{% endfor %}




			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>