{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Inicio | Relogería</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href={% static 'css/estilos.css' %}>
</head>

<body>
	<header>
		<div class="container">
			<h1>:: Relojería ::</h1>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-12 main">
				<h3>Consultar informe de Ventas:</h3>
				<a href="{% url 'inicio:consulta' %}"><button class="btn btn-primary">Consultar</button></a>

				<br><br>

				<h3>Lista de Proveedores:</h3>
				
			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>