{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Página de Práctica</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href={% static 'css/estilos.css' %}>
</head>
<body>
	<header>
		<div class="container">
			{% if user.is_authenticated %}
				<p class="pull-right">{{user.username}} <a href={% url 'inicio:logout' %}>(salir)</a></p>
			{% else %}
				<a href={% url 'inicio:login' %}><button class="btn btn-default pull-right">Ingresar</button></a>
			{% endif %}
			<h1>Página Web de Prácticas de {{nombre}}</h1>
			<h3>HTML y CSS</h3>
		</div>
	</header>
	
	<div class="container">
		<div class="main row">
			<article class="col-xs-12 col-sm-8 col-md-9">
				
				<h3>Articulo Principal</h3>
				<h4>Este artículo es el principal y contiene la información más importante</h4>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas laborum quasi dolorum, mollitia inventore sapiente consequatur odit veritatis eius voluptas aliquam numquam, porro non ea, vero placeat et! Nostrum, recusandae.
				</p>
				<figure>
					<img class="img-responsive" src="html5_css3.png" alt="html5 y css3">
				</figure>
				<wbr>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis possimus tenetur tempore voluptas aliquid labore minus, aliquam eum inventore adipisci nemo nulla libero, repellat ex distinctio dolorem vero dolor cupiditate, magnam aspernatur? Quod neque dignissimos ullam distinctio similique, at cumque eligendi deleniti maiores nisi doloribus hic labore, repellat atque consequuntur!
				</p>				
			</article>
		
			<aside class="col-xs-12 col-sm-4 col-md-3 col-lg-3">

				<h3>Sidebar con Aside</h3>
				<h4>Esto es un bloque destacado</h4>

				<p>
					Se utiliza para enfatizar algo del artículo principal, entre otras cosas
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				
			</aside>
		</div>

		<div class="row">
			<div class="color1 col-xs-12 col-sm-6 col-md-4">
				<h4>Sub-Categoría 1</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ab qui laudantium dolor, sit doloremque aliquid earum nesciunt vero ullam commodi, blanditiis numquam natus libero repellat odit cum, ipsa nostrum!</p>
				<a href={% url 'inicio:pag2' 1978 %}><button class="btn btn-default btn-lg btn-block">Botón 1</button></a>
			</div>
			<div class="color2 col-xs-12 col-sm-6 col-md-4">
				<h4>Noticias</h4>
				<p>Enterate de las últimas noticias.</p>
				<a href={% url 'noticias:noticias' %}><button class="btn btn-default btn-lg btn-block">Ver Noticias</button></a>
			</div>

			<div class="color1 col-xs-12 col-sm-6 col-md-4">
				<h4>Contacto</h4>
				<p>Mantente en contacto con nosotros.</p>
				<p>Envíanos un correo electrónico mediante el formulario de contacto.</p>
				<a href={% url 'noticias:contacto' %}><button class="btn btn-default btn-lg btn-block">Contactate</button></a>
			</div>

		</div>
	</div>

	<footer>
		<div class="container">
			<h3>Pie de pagina - Footer</h3>
			<h4>Esto sirve para los links de fuentes, copyright y esa onda :P</h4>
		</div>
	</footer>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>