{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ingresar | Página Web de Prácticas</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href={% static 'css/estilos.css' %}>
	<link rel="shortcut icon" href={% static 'img/favicon.ico' %} type="image/x-icon">
	<link rel="icon" href={% static 'img/favicon.ico' %} type="image/x-icon">
</head>
<body>
	<header>
		<div class="container">
			<h1>Página Web de Prácticas</h1>
		</div>
	</header>

	<div class="container">
	<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Ingreso</h1>
		<!-- Formulario de login -->
		<div class="login-container">
			{% if form.errors %}
				<div id="output" class="alert alert.danger animated fadeInUp">Error en las credenciales.</div>
			{% endif %}


			<div class="form-box">
			<form action="{% url 'inicio:login' %}" method="POST"> {% csrf_token %}
			  <div class="form-group">
			    <label for="InputUser1">Usuario</label>
			    <input type="text" name="username" class="form-control" id="InputUser1" placeholder="Usuario">
			  </div>
			  <div class="form-group">
			    <label for="InputPassword1">Contraseñas</label>
			    <input type="password" name="password" class="form-control" id="InputPassword1" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-default">Ingresar!</button>
			  <input type="hidden" name="next" value="{{ next }}" />
			</form>
			</div>
		</div>
		<!-- Formulario de login -->
	</div>
	</div>
	</div>


</body>
</html>