header {
	background: #0d5570; /* Old browsers */
	background: -moz-linear-gradient(top, #0d5570 0%, #004863 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0d5570 0%,#004863 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0d5570 0%,#004863 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d5570', endColorstr='#004863',GradientType=0 ); /* IE6-9 */
	color:#fff;
}

.main {
	background:#F2F1DB;
}

.color1 {
	background: #0074B6;
	color:#fff;
	padding-bottom: 10px;
	height: 200px;
}

.color2 {
	background: #E05C25;
	color:#ffffff;
	padding-bottom: 10px;
	height: 200px;
}

aside {
	background:#00aadd;
	color:#fff;
	height: 100%;
}

footer {
	background: #0d5570; /* Old browsers */
	background: -moz-linear-gradient(top, #0d5570 0%, #004863 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0d5570 0%,#004863 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0d5570 0%,#004863 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d5570', endColorstr='#004863',GradientType=0 ); /* IE6-9 */
	color:#fff;
}