{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contactarse</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href={% static 'css/estilos.css' %}>
	<link rel="shortcut icon" href={% static 'img/favicon.ico' %} type="image/x-icon">
	<link rel="icon" href={% static 'img/favicon.ico' %} type="image/x-icon">
</head>
<body>
	<header>
		<div class="container">
			<h1>Página Web de Prácticas</h1>
		</div>
	</header>

	<div class="container">
	<div class="row">
	<div class="col-md-6 col-md-offset-3" >
		<h1>Envianos un correo electronico.</h1>
		<form method="POST" action="">{% csrf_token %}
			{{form.as_p}}
		<button type="submit">Enviar!</button>
		</form>
	</div>
	</div>
	</div>

</body>
</html>