{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Crear Noticias</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href={% static 'css/estilos.css' %}>
	<link rel="shortcut icon" href={% static 'img/favicon.ico' %} type="image/x-icon">
	<link rel="icon" href={% static 'img/favicon.ico' %} type="image/x-icon">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>


</head>
<body>
	<header class="container-fluid">
		<h1>Página de Práctica</h1>
	</header>
	<div class="container">
		<h1>Aqui creamos una noticia</h1>

		<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
			<h3>Titulo:</h3>
			{{form.titulo}}

			<h3>Resumen:</h3>
			{{form.resumen}}

			<h3>Descripción:</h3>
			<!-- <div style="overflow: scroll;"></div> -->
			{{form.cuerpo | safe }}

			<h3>Categoría:</h3>
			{{form.tipo}}
			<br>
			<br>
			<br>

		<button type="submit">Crear!</button>
		</form>

	</div>
</body>
	
</html>