{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Editar Noticia</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href={% static 'css/estilos.css' %}>
	<link rel="shortcut icon" href={% static 'img/favicon.ico' %} type="image/x-icon">
	<link rel="icon" href={% static 'img/favicon.ico' %} type="image/x-icon">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  	<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
	<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
</head>
<body>
	<header class="container-fluid">
		<h1>Página de Práctica</h1>
	</header>
	<div class="container">
	<h1>Editar Noticia!</h1>

	<form method="POST" action="">{% csrf_token %}			
		<!--{{form.titulo.label}}-->
			<h3>Titulo:</h3>
			{{form.titulo}}

			<h3>Resumen:</h3>
			{{form.resumen}}

			<h3>Descripción:</h3>
			{{form.cuerpo | safe }}

			<h3>Categoría:</h3>
			{{form.tipo}}

		<br><br>
		<button type="submit">Guardar!</button>
	</form>
	<br><br>
	</div>
</body>

</html>