{% extends "noticias/base.html" %}


{% block title %}Noticias del Info!{% endblock %}

{% block header %}<h1>Noticias del Info!</h1>{% endblock %}

{% block content %}
	<div class="container">
		<h2>Lo último en noticias:</h2>

		{% for noticia in object_list %}
			<h3><a href={% url 'noticias:noticia' noticia.id %}{{noticia.slug}}>{{ noticia.titulo }}</a>
			<div class="btn-group"> <!-- Botones de edición -->
				<a class="btn btn-default btn-sm" href={% url 'noticias:crear_noticia' %} role="button"><span class="glyphicon glyphicon-file"></span></a>
				<a class="btn btn-default btn-sm" href={% url 'noticias:editar_noticia' noticia.id %} role="button"><span class="glyphicon glyphicon-pencil"></span></a>
				<a class="btn btn-default btn-sm" href={% url 'noticias:eliminar_noticia' noticia.id %} role="button"><span class="glyphicon glyphicon-trash"></span></a></div></h3>
			<h4>{{ noticia.resumen }}</h4>
			<h5>En {{ noticia.get_tipo_display }}</h4>
			
			<hr>
		{%endfor%}

	</div>
{% endblock %}