{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Noticias del Info | {{noticia.titulo}}</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href={% static 'css/estilos.css' %}>
	<link rel="shortcut icon" href={% static 'img/favicon.ico' %} type="image/x-icon">
	<link rel="icon" href={% static 'img/favicon.ico' %} type="image/x-icon">
</head>
<body>
	<header>
		<div class="container">
			<h1>Noticias del Info</h1>
		</div>
	</header>

	<div class="container">
		<h2>{{noticia.titulo}} <br><small>{{noticia.get_tipo_display}}</small></h2>

		<p class="justify">
			{{noticia.cuerpo|safe}}
		</p>
		<p>{{noticia.imagen}}</p>
		<p class="justify">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quae, cum dolorem inventore velit ad dolor pariatur suscipit iste laudantium, distinctio excepturi, quo laborum vitae! Officia quae, commodi sunt autem!
		</p>

		<h2 class="titulo">Comentarios:</h2>

		<div class="form-group">
 			<label for="tipcuerpo">Escribí aquí un comentario</label>
 			<textarea class="form-control" rows="3" id="comentariocuerpo" maxlength="1000"></textarea>
		</div>
		<div class="">
			<button type="button" class="btn btn-default btn-lg" id="comentar">Enviar</button>
		</div>
		<br>

		<div class="col-sm-12">
			{% for c in comentarios %}
				<div id="comentarios" class="comment">
			        <div class="date">{{ c.creado }}</div>
			        <strong>{{ c.autor }}</strong>
			        <p>{{ c.cuerpo|linebreaks }}</p>
			        <hr>
			    </div>

			{% empty %}
				<p>No hay comentarios todavía.</p>
			{% endfor %}
		</div>

	<br><br>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(function(){
			$('#comentar').click(function(){
			var cuerpito = $('#comentariocuerpo').val();
			var art = "{{object.id}}"
			alert(cuerpito);
			alert(art);
			$.ajax({
				url : "../../Comentar_ajax",
				type : "GET",
				data : { 'cuerpito': cuerpito, 'art': art },
				
				success : function(asd){
					if (asd.bandera){
						$('#comentarios').prepend('<div class="date">'+asd.creado+'</div><strong>'+asd.autor+'</strong><p>'+asd.cuerpo+'</p><hr>')
					}
					else{
						alert('No!');
					}
				}
			});
			});
		});
	</script>


</body>
</body>
</html>